/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@mainColor: #F6931E;
@mainLight: @mainColor + #222222;
@mainDark: @mainColor - #222222;

@charcoal: #1a1a1a;

@Emerald: #7f8c8d;
@PeterRiver: #3498db;
@Amethyst: #9b59b6;
@Silver: #bdc3c7;
@Asbestos: #7f8c8d;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@vh: 1vh;
@textSize: 3vh;

@OpenSans: 'Open Sans Condensed', sans-serif;
@Allan: 'Allan', sans-serif;
@Acme: 'Acme', sans-serif;
@Iceberg: 'Iceberg', sans-serif;

.HeadFont(){
	font-family: @Iceberg;
}

.BodyFont(){
	font-family: @OpenSans;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (0.5 * @textSize) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
}

h1{
	font-size: 1.5 * @textSize;
	line-height: 1.75 * @textSize;
}

h2{
	font-size: 1.25 * @textSize;
	line-height: 1.5 * @textSize;
}

h3{
	font-size: 1.1 * @textSize;
	line-height: 1.35 * @textSize;
}

p{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	list-style: disc;
	margin: (0.15 * @textSize) auto;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	//Default Text Styles
	.BodyFont();
	font-size: @textSize;
	color: @charcoal;
}

body{
	margin: 0;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

/*--------------------------------------------*/
/*---> DESIGN <-------------------------------*/
/*--------------------------------------------*/

.ArrowDown(@triColor: @mainColor, @triWidth: 10 * @vh , @triHeight: 2.5 * @vh){
	width: 0;
	height: 0;
	border-left: (@triWidth / 2) solid transparent;
	border-right: (@triWidth / 2) solid transparent;
	border-top: @triHeight solid @triColor;
}


/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

@paddingSize: 2 * @vh;

section.section-page{
	.SectionPage(blue, @charcoal, @mainColor);
}

.SectionPage(@backgroundColor: @charcoal, @textColor: white, @borderColor: @mainColor){

	@borderHeight: 2.5 * @vh;

	background: @backgroundColor;
	color: @textColor;
	border-bottom: @borderHeight solid @borderColor;
	padding: @paddingSize 0;
	margin: 0;

	h2.arrow-title{

		@arrowWidth: 40vw;
		@arrowHeight: @borderHeight;
		@arrowBoxHeight: 1.5 * @textSize;
		@arrowColor: @borderColor;

		width: @arrowWidth;
		margin: (-1 * @paddingSize) auto;
		background: @arrowColor;
		//TEXT STYLES
		text-align: center;
		font-size: 0.75 * @arrowBoxHeight;
		line-height: @arrowBoxHeight;
		height: @arrowBoxHeight;

		& + div.arrow-down{
			.ArrowDown(@arrowColor, @arrowWidth, @arrowHeight);
			margin: @paddingSize auto;
		}

	}

}

/*div.arrow-down{
	.ArrowDown(@mainColor, 20vw);
	margin: 0 auto;
}*/


/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/

header{

	@headerHeight: 2.0 * @textSize;

	& + div.header-space{
		width: 100%;
		height: @headerHeight;
	}

	position: fixed;
	width: 100%;
	height: @headerHeight;
	background: @mainColor;
	color: white;

	nav{

		background: red;
		width: auto;
		
		a{
			background: blue;
			border-left: 2px solid white;
			padding: 0.5 * @paddingSize;
			//TEXT STYLES
			text-align: center;
			font-size: 0.35 * @headerHeight;
			line-height: @headerHeight;
		}

	}

}

/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: @mainColor;

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
	z-index: 50;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -10px;
}

::-webkit-scrollbar-corner{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}