/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@Charcoal: #1a1a1a;
@LightGray: rgb(150, 150, 150);

@PeterRiver: #3498db;
@Emerald: #2ecc71;
@Amethyst: #9b59b6;
@Silver: #bdc3c7;
@Asbestos: #7f8c8d;

@mainColor: @PeterRiver;
@mainLight: @mainColor + #222222;
@mainDark: @mainColor - #222222;


/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@vh: 6.5px;
@textSize: 3vh;

@Titillium: 'Titillium Web', sans-serif;
@OpenSans: 'Open Sans Condensed', sans-serif;
@Allan: 'Allan', sans-serif;
@Acme: 'Acme', sans-serif;
@Iceberg: 'Iceberg', sans-serif;

.HeadFont(){
	font-family: @Iceberg;
}

.BodyFont(){
	font-family: @Titillium;
	letter-spacing: 0.5px;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (0.5 * @textSize) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
}

h1{
	font-size: 1.5 * @textSize;
	line-height: 1.75 * @textSize;
}

h2{
	font-size: 1.25 * @textSize;
	line-height: 1.5 * @textSize;
}

h3{
	font-size: 1.1 * @textSize;
	line-height: 1.35 * @textSize;
}

p{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	list-style: disc;
	margin: (0.15 * @textSize) auto;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	//Default Text Styles
	.BodyFont();
	font-size: @textSize;
	color: @Charcoal;
}

body{
	margin: 0;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

/*--------------------------------------------*/
/*---> DESIGN <-------------------------------*/
/*--------------------------------------------*/

.ArrowDown(@triColor: @mainColor, @triWidth: 10 * @vh , @triHeight: 2.5 * @vh){
	width: 0;
	height: 0;
	border-left: (@triWidth / 2) solid transparent;
	border-right: (@triWidth / 2) solid transparent;
	border-top: @triHeight solid @triColor;
}


/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

@paddingSize: 2 * @vh;

section.section-page{
	.SectionPage(white, @Charcoal, @mainColor);
}

section#landing{
	background: white;
}

section#teams{
	background: @Asbestos;
}

/*--------------------------------------------*/
/*---> SECTIONS <-----------------------------*/
/*--------------------------------------------*/

.SectionPage(@backgroundColor: @Charcoal, @textColor: white, @borderColor: @mainColor){

	@borderHeight: 2.5 * @vh;

	background: @backgroundColor;
	color: @textColor;
	border-bottom: @borderHeight solid @borderColor;
	padding: @paddingSize 0;
	margin: 0;

	h2.arrow-title{

		@arrowWidth: 40vw;
		@arrowHeight: @borderHeight;
		@arrowBoxHeight: 1.5 * @textSize;
		@arrowColor: @borderColor;

		width: @arrowWidth;
		margin: (-1 * @paddingSize) auto;
		background: @arrowColor;
		//TEXT STYLES
		text-align: center;
		font-size: 0.75 * @arrowBoxHeight;
		line-height: @arrowBoxHeight;
		height: @arrowBoxHeight;

		& + div.arrow-down{
			.ArrowDown(@arrowColor, @arrowWidth, @arrowHeight);
			margin: @paddingSize auto;
		}

	}

}

/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/

header{

	@headerHeight: 2.0 * @textSize;

	& + div.header-space{
		width: 100%;
		height: @headerHeight;
		background: transparent;
	}

	position: fixed;
	width: 100%;
	height: @headerHeight;
	padding: 0;
	background: @mainColor;
	color: white;
	box-shadow: 0 0 (5 * @vh) rgba(0, 0, 0, 0.5);

	img, nav{
		position: fixed;
		top: 0;
	}

	img{
		left: 0;
		height: 0.75 * @headerHeight;
		margin: 0.125 * @headerHeight;
		display: inline-block;
	}

	nav{

		right: 0;
		padding: 0;
		width: auto;
		background: transparent;
		
		a{

			background: transparent;
			border-left: (0.5 * @vh) solid white;
			padding: 0.5 * @paddingSize;
			//TEXT STYLES
			text-align: center;
			font-size: 0.35 * @headerHeight;
			line-height: @headerHeight;
			height: @headerHeight;

			&:nth-child(1){
				border: none;
			}

			&:hover{
				background: @Asbestos;
			}

			.AnimateAll();

		}

		.AnimateAll();

	}

	//RESPONSIVE STYLES

	@media screen{
		
		@media (max-width: 545px){

			height: 1.75 * @headerHeight;

			img{
				width: 30vw;
				margin: (0.25 * @headerHeight) 35vw;
				height: auto;
			}

			nav{

				width: 10vw;
				top: -14 * (@paddingSize + @headerHeight);
				
				&::after{
					content: '-';
					color: transparent;
					background: @Charcoal;
					padding: @paddingSize;
					height: @headerHeight;
				}

				a{
					
					width: 100vw;
					margin-left: -90vw;
					float: left;
					clear: left;
					background: @Charcoal;

					&:nth-child(1){
						border-left: (0.5 * @vh) solid white;
					}
				
				}

				&:hover{
					top: 0;
				}

			}

		}
	}

}

/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: @mainColor;

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
	z-index: 50;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -10px;
}

::-webkit-scrollbar-corner{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}